<style>
p {
    text-indent: 50px;
}
</style>

<div class="background">
  <div class="white">
    <h3>What is CIRN?</h3>
The Coastal Imaging Research Network (CIRN) is an international group of researchers who exploit visible signatures of phenomena in coastal, estuarine, and riverine environments. CIRN members develop new methodologies to gain a better fundamental understanding of the processes shaping those environments from imagery. Data are also used in an applied sense as inputs for model boundary and initial conditions through assimilation, to validate models, and to make management decisions. The network is a collaboration between researchers from 14 countries. The coastal imaging community has grown over the last 30 years from its origins in the Coastal Imaging Lab at Oregon State University and now includes investigators from universities, government labs and agencies, non-profits, and private companies. CIRN was officially formed in 2016 to provide an integrative, multi-institutional group to collaborate on remotely sensed data techniques. 
    
  </div>
</div>

<div class="background">
  <div class="white">
    <h2>2023 CIRN Week ANNOUNCEMENT!!</h2>
    <br>
    <h3>CIRN Bootcamp: May 8-9, 2023, Duck, NC, USA </h3>
The CIRN Boot camp will provide both the background and hands on experience in working with coastal imaging for new users. Attendees will work with image data of the surf-zone and learn how to process and analyze the data using the MATLAB Quantitative Coastal Imaging Toolbox and other specialized toolboxes.
<br>
<br>
The boot camp will cover the development of coastal imaging, camera and photogrammetry fundamentals, UAV/single camera collection methods, camera intrinsic and extrinsic calibration, common data products, and nearshore data analysis with imagery. In addition, there will be hands on field tutorials for camera installation/calibration and UAS data collection/processing on the historic FRF pier.
<br>
<br>
The CoastSnap Users Workshop will run concurrently with the boot camp on May 8-9.
<br>
<br>
    <h3>CIRN Workshop: May 10-12, 2023, Duck, NC, USA  </h3>
The CIRN Workshop will focus on showcasing innovative research on coastal imaging systems and coastal imaging tools utilizing remotely sensed observations. All attendees, especially students, are encouraged to present in this informal environment.
<br>
<br>
For more information and to register to attend CIRN Week 2023, please visit this <a href="https://www.eventbrite.com/e/cirn-week-2023-tickets-482406098627?aff=eemailordconf&ref=eemailordconf&utm_campaign=order_confirm&utm_medium=email&utm_source=eventbrite&utm_term=viewevent">LINK</a>
<br>
</div>
</div>


<div class="background">
  <div class="white">
    <a name="about"></a><h1>Resources within CIRN</h1>
    <li><b>Learn about what CIRN is and how the algorithms work: </b></li><br>
        <p> Browse the CIRN Wiki <a href="https://github.com/Coastal-Imaging-Research-Network/Forum-Wiki/wiki">HERE</a> </p>
    <li><b>Process UAV image data: </b></li><br>
        <p> Download the <a href="https://github.com/Coastal-Imaging-Research-Network/UAV-Processing-Codes">UAV Processing Toolbox</a>
            and take a look at the <a href="https://github.com/Coastal-Imaging-Research-Network/UAV-Processing-Codes/wiki/UAV-Processing-Manual">UAV Processing Toolbox Manual</a> </p>
    <li><b>Run cBathy on image data: </b></li><br>
        <p> Download the <a href="https://github.com/Coastal-Imaging-Research-Network/cBathy-Toolbox">cBathy Toolbox</a>
            and take a look at the <a href="https://github.com/Coastal-Imaging-Research-Network/cBathy-toolbox/wiki/cBathy-User-Manual">cBathy Toolbox Manual</a> </p>
    <li><b>Be a developer of the CIRN code:  </b></li><br>
        <p> 1) make an account on GitHub </p>  
        <p> 2) Fill out the form <a href="https://goo.gl/forms/7VX5isIpHrV1jSlH2">HERE</a> </p>  
        <p> 3) Learn how to clone and edit one of the CIRN repositories <a href="https://github.com/Coastal-Imaging-Research-Network/Forum-Wiki/wiki/CIRN-repository-help">HERE</a> </p>  
    <li><b>Get a question or problem with the code answered: </b></li><br>
        <p> Create an Issue on the CIRN Forum <a href="https://github.com/Coastal-Imaging-Research-Network/Forum-Wiki/issues">HERE</a> </p>
    <li><b>Interact socially with other CIRN members: </b></li><br>
        <p> Join our LinkedIn group <a href="https://www.linkedin.com/groups/12010767">HERE!</a></p>

  </div>
</div>

<div class="background">
  <div class="white">
    <h2>Please excuse us...</h2>
<br>      
This site is a work in progress. Please let us know of any problems you find by creating an issue <a href="https://github.com/Coastal-Imaging-Research-Network/coastal-imaging-research-network.github.io/issues">HERE</a>. Thanks for your patience!!
<br><br> ~The CIRN Organizing Team


  </div>
</div>


