<style>
p {
    text-indent: 50px;
}
</style>

<div class="background">
  <div class="white">
    <h2>What is CIRN?</h2>
    <br>

The Coastal Imaging Research Network (CIRN) is an international group of researchers who exploit visible signatures of phenomena in coastal, estuarine, and riverine environments. CIRN members develop new methodologies to gain a better fundamental understanding of the processes shaping those environments from imagery. Data are also used in an applied sense as inputs for model boundary and initial conditions through assimilation, to validate models, and to make management decisions. The network is a collaboration between researchers from 14 countries. CIRN has grown over the last 30 years from its origins in the Coastal Imaging Lab at Oregon State University and now includes investigators from universities, government labs and agencies, non-profits, and private companies.
<br><br>
While the initial focus of CIRN will be on optical systems, we hope to expand to include all sources of Nearshore Remote Sensing (NRS) including radar and infrared methods.
    
  </div>
</div>


<div class="background">
  <div class="white">
    <h2>Our Mission</h2>
CIRN grew out of the mission of the Argus system, which is to serve as a long term, low cost coastal monitoring tool to allow better understanding of how the beach and nearshore react to and influence wave and tidal forcing. The intent is to use remote sensing tactics and physical quantity proxies to prevent the need for costly in-situ instruments, using relatively cheap COTS cameras and video processing.
<br>
<br>
CIRN is a worldwide collaboration of scientists to develop and use coastal imaging data, other co-located sensors, and models to improve understanding and predictability of changes to the nearshore.

  </div>
</div>



<div class="background">
  <div class="white">
    <a name="about"></a><h1>How can we help you?</h1>
    <li><b>I'd like to learn about what CIRN is and how the algorithms work </b></li><br>
        <p> Browse the CIRN Wiki <a href="https://github.com/Coastal-Imaging-Research-Network/Forum-Wiki/wiki">HERE</a> </p>
    <li><b>I would like to process my UAV image data </b></li><br>
        <p> Download the <a href="https://github.com/Coastal-Imaging-Research-Network/UAV-Processing-Codes">UAV Processing Toolbox</a>
            and take a look at the <a href="https://github.com/Coastal-Imaging-Research-Network/UAV-Processing-Codes/wiki/UAV-Processing-Manual">UAV Processing Toolbox Manual</a> </p>
    <li><b>I would like to run cBathy on my image data </b></li><br>
        <p> Download the <a href="https://github.com/Coastal-Imaging-Research-Network/cBathy-Toolbox">cBathy Toolbox</a>
            and take a look at the <a href="https://github.com/Coastal-Imaging-Research-Network/cBathy-toolbox/wiki/cBathy-User-Manual">cBathy Toolbox Manual</a> </p>
    <li><b>I have a question or problem with the code that I'd like answered </b></li><br>
        <p> Create an Issue on the CIRN Forum <a href="https://github.com/Coastal-Imaging-Research-Network/Forum-Wiki/issues">HERE</a> </p>
    <li><b>I would like to interact socially with other CIRN members </b></li><br>
        <p> Join our LinkedIn group <a href="https://www.linkedin.com/groups/12010767">HERE!</a></p>
    <li><b>I am a developer and want to add my cool feature to the code  </b></li><br>
        <p> Learn how to clone and edit one of the CIRN repositories <a href="https://github.com/Coastal-Imaging-Research-Network/Forum-Wiki/wiki/CIRN-repository-help">HERE</a> </p>  
    

  </div>
</div>


<div class="background">
  <div class="white">
    <h2>Please excuse us...</h2>
<br>      
This site is a work in progress. Please let us know of any issues you find by creating an issue <a href="https://github.com/Coastal-Imaging-Research-Network/coastal-imaging-research-network.github.io/issues">HERE</a>. Thanks for your patience!!
<br><br> ~The CIRN Management Team


  </div>
</div>


