<main>
<h1>This is an example of Heading 1</h1>
<h2>This is an example of heading 2</h2>
<h3>This is an example of heading 3</h3>
<h4>This is an example of heading 4</h4>
<h5>This is an example of heading 5</h5>
<h6>This is an example of heading 6</h6>
<p>A simple paragraph. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
<h1>This is an example of Heading 1</h1>
<p>A simple paragraph. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
<h2>This is an example of heading 2</h2>
<p>A simple paragraph. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
<h3>This is an example of heading 3</h3>
<p>A simple paragraph. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
<h4>This is an example of heading 4</h4>
<p>A simple paragraph. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
<h5>This is an example of heading 5</h5>
<p>A simple paragraph. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
<h6>This is an example of heading 6</h6>
<p>A simple paragraph. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
<p>Some inline examples. <strong>This is strong text</strong>, consectetur adipisicing elit, <em>this is text with emphasis</em> ut labore et dolore magna aliqua. <a href="/">This is linked text</a> veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
<ul>
  <li>An unorder list</li>
  <li>With another item</li>
  <li>An more items</li>
</ul>
<ol>
  <li>An order list</li>
  <li>With another item</li>
  <li>An more items</li>
</ol>
<h4>Table Example</h4>
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Address</th>
      <th>Phone</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Nicholas</td>
      <td>10 Elm Street</td>
      <td>+1 (555) 234-2322</td>
    </tr>
    <tr>
      <td>Ted</td>
      <td>281a Elmvale Road</td>
      <td>+1 (555) 389-2391</td>
    </tr>
    <tr>
      <td>Dwayne</td>
      <td>892 Henley Cresent</td>
      <td>+1 (555) 950-9234</td>
    </tr>
  </tbody>
</table>
<h4>Form Example</h4>
<form>
  <p>
    <label>Name</label>
    <input type='text' />
  </p>
  <p>
    <label>Email</label>
    <input type='text' />
  </p>
  <fieldset>
    <input type="radio" > none<br>
    <input type="radio" > carpool<br>
    <input type="radio" > rtd<br>
    <input type="radio" > school bus<br>
    <input type="radio" > walk<br>
    <input type="radio" > bike<br>
    <input type="radio" > skate/scoot<br>
    <input type="radio" > drive/walk<br>
    <select>
      <option>.25</option>
      <option>.5</option>
      <option>.75</option>
      <option>1</option>
      <option>1.25</option>
      <option>1.5</option>
    </select>
  </fieldset>
  <fieldset>
    <legend>Gender</legend>
    <p>
      <input type='radio' />
      <label>Male</label>
      <input type='radio' />
      <label>Female</label>
      <input type='radio' />
      <label>Other</label>
    </p>
  </fieldset>
  <p>
    <label>Country</label>
    <select>
      <option>New Zealand</option>
      <option>Canada</option>
      <option>United States</option>
    </select>
  </p>
  <p>
    <label>Country</label>
    <select multiple='multiple'>
      <option>New Zealand</option>
      <option>Canada</option>
      <option>United States</option>
    </select>
  </p>
  <p>
    <input type='checkbox' />
    <label>Agree to Terms &amp; Conditions</label>
  </p>
  <p>
    <label>Message</label>
    <br />
    <textarea></textarea>
  </p>
  <p>
    <input type='submit' value='Send message' />
  </p>
</form>
</main>
