.ng-enter {
  transition: 0.75s;
  opacity: 0;
}
.ng-enter-active {
  opacity: 1;
}
.ng-leave {
  transition: 0.75s;
  opacity: 1;
}
.ng-leave-active {
  opacity: 0;
}
.ng-enter-stagger {
  transition-delay: 0.1s;
}
