$green: rgb(42, 164, 58);
$red: #FA787E;
$blue: rgb(89, 145, 197);
$transparent: rgba(225, 225, 225, .8);
$gray: rgb(68,	84,	103);
// $gold: rgba(247, 208, 128, .6);
$gold: rgba(246,	247,	196, .5);
$white: rgba(255,	255, 255, .8);
// $black: rbga(50,	52,	30, .1);
$black: #32341E;
$sky: rgba(234,	252,	255, .5);
